*.pdf
!resources/*.pdf
*.log
*.aux
*.fls
*.toc
*_latexmk
*.out
*.xdv
*.bak
_material
*.synctex.gz
resources
!images/*.png
!lib/images/*.png
*.pdf
Plan*.png
*.xmpdata
_tmp
creationdate.*
pdfx.xmpi
.*.swp
.vscode
.idea
*.iml
